@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--brand-color: #FEAA47;
	--text-color: #202020;
	--bg-color: #F6F6F6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
	font-family: 'Poppins', Arial, sans-serif;
	font-size: 16px;
	background-color: var(--body-bg-color);
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 3rem;
}

.hidden{
	display: none;
}

.required-point{
	color: rgb(240, 15, 15);
	font-weight: bold;
}

.button {
	color: var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 240px;
	height: 40px;
	font-size: 1.125rem;
	font-weight: bold;
	text-decoration: none;
	border: none;
	background: none;
	border-radius: .25rem;
	transition: .5s;
}

.button__primary {
	background-color: var(--text-color);
	border: 2px solid var(--text-color);
}

.button__primary:hover {
	color: var(--text-color);
	background-color: var(--bg-color);
	border: 2px solid var(--text-color);
}

.header {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header .container {
	display: flex;
	justify-content: space-between;
	height: 70px;
}

.header__nav {
	margin-left: auto;
}

.nav__list {
	display: flex;
}
.nav__list button {
	border: none;
	background-color: transparent;
}

.nav__list a, .nav__list button {
	color: var(--text-color);
	display: inline-block;
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	padding: .5rem;
	border-radius: .25rem;
	transition: .5s;
}

.nav__list a:hover, .nav__list button:hover {
	color: var(--bg-color);
	background-color: var(--brand-color);
}

.main {
	background-color: var(--brand-color);
	padding: 3rem 0;
}

.main .container,
section.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content {
	width: 45%;
}

.texts {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 1.5rem;
}

.texts h1,
h1 {
	color: var(--text-color);
	font-size: 2.25rem;
	font-weight: bold;
	line-height: 2.75rem;
}

.texts h2 {
	color: var(--text-color);
	font-size: 2rem;
	font-weight: bold;
	line-height: 2.50rem;
}

.texts p {
	color: var(--text-color);
	font-size: 1rem;
	line-height: 1.25rem;
}

.image {
	width: 45%;
}

.section__register {
	padding: 3rem;
}

.section__register .content {
	order: 2;
}

footer {
	color: var(--bg-color);
	font-size: 1rem;
	line-height: 1.25;
	text-align: center;
	padding: .5rem;
	background-color: var(--text-color);
}

#form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	width: 50%;
	height: calc(100% - 70px);
	margin-left: auto;
	margin-right: auto;
	padding: 3rem 10rem;
	background-color: var(--brand-color);
}

.input__group {
	display: flex;
	flex-direction: column;
	width: 100%;
	
}

label {
	font-weight: bold;
	margin: 1.5rem 0 .5rem;
}

textarea {
	min-width: 400px;
	min-height: 100px;
}

button.button {
	margin: 1rem auto 0;
}

#map {
  width: 50%;
  height: calc(100% - 70px);
  float: right;
}

main.event__list {
	min-height: calc(100% - 70px);
}

#event__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	height: calc(100% - 70px);
	margin-left: auto;
	margin-right: auto;
	padding: 3rem 10rem;
	background-color: var(--brand-color);
}

#event__list h1 {
	text-align: center;
	margin-bottom: 3rem;
}

#event__list ul {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#event__list li {
	width: 100%;
	padding: 2rem;
	border-radius: 1rem;
	border: .125rem solid var(--text-color);
	background-color: var(--bg-color);
}

#event__list h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
}

#event__list span {
	display: inline-block;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

#event__list p {
	font-size: 1rem;
}

#event__li {
	font-family: 'Poppins', Arial, sans-serif;
	margin-bottom: 5px;
}

#event__li div {
	display: flex;
	gap: 20px;
	margin-top: -10px
}

#event__li p {
	padding-bottom: 10px;
}

#botaoEditar {
	background-color: rgb(13, 114, 57);
	border-radius: 5px;
	outline: none;
	border: none;
	color: white;
	transition: 1s;
	cursor: pointer;
	padding: 3px 6px;
	font-size: medium;
} 

#botaoDeletar {
	background-color: rgb(207, 23, 23);
	margin-left: 10px;
	border-radius: 5px;
	outline: none;
	border: none;
	color: white;
	transition: 1s;
	cursor: pointer;
	padding: 3px 6px;
	font-size: medium;
}

#botaoCurtir {
	background-color: rgb(23, 109, 207);
	margin-left: 10px;
	border-radius: 5px;
	outline: none;
	border: none;
	color: white;
	transition: 1s;
	cursor: pointer;
	padding: 3px 6px;
	font-size: medium;
}

#botaoEditar:hover{
	background-color: rgb(4, 85, 30);
}

#botaoDeletar:hover{
	background-color: rgb(132, 11, 11);
}

#botaoCurtir:hover {
	background-color:rgb(0, 66, 137);
}
#set-recomendados{
	margin: 0;
	margin-top: 10px;
	padding: 0;
}

#recomendados {
	text-shadow: 1px 1px 1px black;
	font-weight: bold;
	color: orange;
}

#search{
	display: flex;
	justify-content: center;
	background-color: var(--brand-color);
	height: calc(100% - 70px);
}

#event__result{
	margin-top: 50px;
}

#search-div{
	display: flex;
	justify-content: center;
	gap: 7px;
	align-items: center;
}
#search-div h3{
	color: white;
	text-shadow: 2px 1px 1px black;
	font-weight: bolder;
	font-size: larger;
}

#search-div input, #search-div button{
	border-radius: 10px;
	padding: 5px;
	border: none;
	box-shadow: 2px 2px 5px black;
	cursor: pointer;
}

#search-div button {
	font-weight: bold;
}

#search-div button:hover{
	background-color: rgb(190, 190, 194);
}

#event__result ul{
	height: 60vh;
	overflow-y: auto;
}

#event__result ul li {
	background-color: white;
	padding: 20px;
	border-radius: 20px;
	border: 2px solid black;
}

#event__result ul li h3{
	margin-bottom: 20px;
	font-weight: bolder;
	font-size: larger;
}

#value-search{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

#ul-exibir {
	overflow-y: auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.col {
  max-width: 400px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-inner {
  max-width: 300px;
}

.form-header {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}